.product-card {
  border: none;
  border-radius: 20px;
  transition: all 0.4s ease;
  background: #f8f9fa;
  cursor: pointer;
}
.order-btn {
  background: #e6b980;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  transition: 0.3s;
}
.product-img {
  width: 150px;
  height: auto;
}

.stars {
  color: #f4b400;
  font-size: 18px;
}
.product-card:hover {
  background: #1f1f1f;
  color: #fff;
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.product-card:hover .text-muted {
  color: #d1d1d1 !important;
}

.product-card:hover .order-btn {
  background: #fff;
  color: #000;
}
