.sale-img {
  border-radius: 8px;
}

.icon-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.bg-light-green {
  background-color: #e6f7f0;
  color: #28a745;
}

.bg-light-blue {
  background-color: #e7f1ff;
  color: #0d6efd;
}

.bg-light-purple {
  background-color: #f2e9ff;
  color: #6f42c1;
}

.bg-light-yellow {
  background-color: #fff4e5;
  color: #fd7e14;
}